body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
  
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #282c34;
    color: white;
    padding: 10px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.name
{
    float: right;
}
nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #50575e;
    border-radius: 5px;
}

.hero {
    background-color: #f8f9fa;
    padding: 100px 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.hero-text {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-image img {
    max-width: 1300%;
    height: auto;
    border-radius: 10px;
}
.table
{
    position: relative;
    left: 20px;
    bottom: 10px;
}
td
{
    padding: 10px;
    color: white;
}
th{
    color: white;
}
button
{
    padding: 6px;
    width: 110px;
    border: 0px;
    border-radius: 5px;
}
.btn {
    display: inline-block;
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e65c00;
}

section {
    padding: 60px 0;
    text-align: center;
}